/* Custom styling for the log dashboard */
body {
  font-family: Arial, sans-serif;
}
.list-group-item {
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}
.list-group-item-danger {
  background-color: #843534;
  color: #fff;
}
.list-group-item-warning {
  background-color: #8a7330;
}
.table-danger {
  background-color: #843534;
  color: #fff;
}
.table-warning {
  background-color: #8a7330;
}
.margin-r-5 {
  margin-right: 5px;
}
