/* Custom styling for the log dashboard */
body {
  font-family: Arial, sans-serif;
}
.list-group-item {
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}
.list-group-item-danger {
  background-color: #843534;
  color: #fff;
}
.list-group-item-warning {
  background-color: #8a7330;
}
.table-danger {
  background-color: #843534;
  color: #fff;
}
.table-warning {
  background-color: #8a7330;
}
.margin-r-5 {
  margin-right: 5px;
}

.sidebar-info {
  line-height: 1.4;
  font-size: 13px;
  padding: 10px 15px;
}

body.dark-mode {
  background-color: #1e282c;
  color: #c2c7d0;
}
body.dark-mode .content-wrapper {
  background-color: #1e282c;
}
body.dark-mode .sidebar {
  background-color: #222d32;
}
